POSTGRES_USER=postgres
POSTGRES_PASSWORD=password
POSTGRES_DB=customer_db

# Used by pipeline-service to connect to the postgres container
DATABASE_URL=postgresql://postgres:password@postgres:5432/customer_db
